*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.theme-light {
  --color-primary: hsl(233, 11%, 84%);
  --Grayish_Blue: hsl(236, 9%, 61%);
  --font-color: #000;
}

.theme-dark {
  --font-color: #fff;
  --color-primary: hsl(235, 24%, 19%);
  --Grayish_Blue: hsl(234, 39%, 85%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--Grayish_Blue);
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container img {
  position: absolute;
  width: 100%;
  height: 35vh;
}

.header {
  height: 33vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
  position: relative;
}

.header-btn,
.header-title {
  align-self: center;
}

.header-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--font-color);
  letter-spacing: 1rem;
}

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  transition: transform 0.2s;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  transform: translateY(-0.3rem);
}

.btn:active {
  transform: translateY(-0.15rem);
}

.todo {
  width: 35vw;
  z-index: 3;
  position: absolute;
  top: 25%;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  margin: 2rem 0;
}

.todo-input {
  background-color: var(--color-primary);
  font-size: 1.5rem;
  width: 100%;
  height: 5rem;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  color: #fff;
  padding: 0.5rem 2rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

.todo-input::placeholder {
  font-family: inherit;
  font-weight: 500;
}

.todo-list {
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.6);
}

.todo-item {
  background-color: var(--color-primary);
  height: 5rem;
  border-radius: 2px;
  display: flex;
  padding: 2rem;
  width: 100%;
  align-items: center;
  font-size: 1.1rem;
  color: var(--font-color);
  font-weight: 500;
  display: flex;
  align-content: center;
  border-bottom: 1px solid rgba(240, 240, 240, 0.6);
}

.todo-item span {
  margin-top: 0.35rem;
}

.text.striked {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-checkbox {
  align-self: center;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
}

.todo-checkbox:focus {
  outline: none;
}

.todo-checkbox.checked {
  align-self: center;
  -webkit-appearance: none;
  background-image: url("/images/check.svg");
  background-size: 2rem 2rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
}

.todo-stats {
  display: flex;
  background-color: var(--color-primary);
  border-radius: 3px;
  padding: 1.1rem;
  color: var(--font-color);
  font-size: 1rem;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 3rem;
}

.todo-stats--items {
  margin-top: 0.1rem;
}

.todo-stats--filter button,
.todo-stats--clear button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  color: var(--font-color);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.1s linear;
}
.todo-stats--filter button:hover,
.todo-stats--clear button:hover {
  transform: translateY(-0.1rem);
  color: var(--brightBlue);
}
.todo-stats--filter button:active,
.todo-stats--clear button:active {
  transform: translateY(-0.05rem);
}

.disabled {
  pointer-events: none;
}

.hide {
  display: none;
}

.title {
  background-color: hsl(235, 24%, 19%);
  height: 5rem;
  border-radius: 2px;
  display: flex;
  padding: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: rgba(240, 240, 240, 0.9);
  font-weight: 500;
  display: flex;
  align-content: center;
}

.title.hidden {
  display: none;
}
